@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../../assets/scss/app.scss";

.Categories {
  margin: 30px 150px 70px 150px;

  .section-heading {
    text-align: left;
    margin-left: 70px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    span {
      margin-left: 20px;
      font-weight: 300;
      font-size: 17px;
      line-height: 35px;
      color: #011434;
    }
    h2 {
      font-size: 25px;
      font-weight: 900;
      color: $color_blue_light;
    }
  }
  .slide {
    img {
      width: 11rem;
      height: 14rem;
      margin: 0 auto;
    }

    transform: scale(0.4);
    transition: transform 300ms;
    opacity: 0.5;

    p {
      font-weight: 400;
      font-size: 17px;
      text-align: center;
      margin-top: 10px;
    }
  }

  .activeSlide {
    transform: scale(1.1);
    opacity: 1;
  }

  .arrow {
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    z-index: 10;

    svg {
      transition: color 300ms;

      &:hover {
        color: #68edff;
      }
    }
  }

  .next {
    right: 0%;
    top: 50%;
  }

  .prev {
    left: 0%;
    top: 50%;
  }
}
