.profile {
  .btn-outline-primary {
    color: rgb(37, 12, 12);
    background-color: transparent;
    background-image: none;
    border-color: rgb(204, 160, 119);
  }

  .btn-outline-primary:hover {
    color: rgb(117, 20, 7);
    background-color: #f1bbb2;
    border-color: rgb(204, 160, 119);
  }

  .btn-outline-primary:focus,
  .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(119, 204, 204, 0.5);
  }
  .card-profile {
    background: #ffffff;
    box-shadow: -10px -20px 10px rgba(7, 80, 222, 0.08),
      inset -5px -5px 10px rgba(95, 101, 255, 0.14);
  }
  .card {
    border: 1.5px solid rgba(52, 173, 253, 0.267) !important;
    box-shadow: -5px -10px 5px rgba(7, 80, 222, 0.08),
      inset -5px -5px 10px rgba(95, 101, 255, 0.14) !important;
  }
  .card-statistic {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
  }

  .progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
  }
  .progress-bar .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .card-profile {
    .rate {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .card {
      width: 350px;
      border: none;
      box-shadow: 5px 6px 6px 2px #e9ecef;
      border-radius: 12px;
    }

    .circle-image img {
      border: 6px solid #fff;
      border-radius: 100%;
      padding: 0px;
      top: -28px;
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 100%;
      z-index: 1;
      background: #e7d184;
      cursor: pointer;
    }

    .dot {
      height: 18px;
      width: 18px;
      background-color: green;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      border: 3px solid #fff;
      top: -48px;
      left: 186px;
      z-index: 1000;
    }

    .name {
      margin-top: -21px;
      font-size: 18px;
    }

    .fw-500 {
      font-weight: 500 !important;
    }

    .start {
      color: green;
    }

    .stop {
      color: red;
    }

    .checked {
      color: orange;
    }
  }
  .start-check {
    color: orange;
  }
  .start-uncheck {
    color: gray;
  }
}
