@import "../../../assets/scss/app.scss";
a {
  text-decoration: none !important;
}
.section-heading {
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  span {
    margin-left: 20px;
    font-weight: 300;
    font-size: 17px;
    line-height: 35px;
    color: #011434;
  }
}

.section-heading h2 {
  font-size: 25px;
  font-weight: 900;
  color: $color_blue_light;
}
/* Latest Produtcs */

.latest-products {
  margin-top: 35px;
  margin-right: 90px;
  margin-left: 90px;
}

.latest-products .section-heading a {
  float: right;
  margin-top: -35px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: $color_blue_light;
}
